<div class="block about-us">
    <div class="about-us__image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="about-us__body">
                    <h1 class="about-us__title">About Us</h1>
                    <div class="about-us__text typography">
            
                        <p>
                       
                            An experienced and motivated team of peoples who are serving more than 500  locations in India. We own a catalog of more than lots of products from different categories.
                        </p>
                        <p>
                            We aim to offer our customers a variety of products be it Indian or Imported. We've come a long way, so we know exactly which direction to take when supplying you with high quality yet budget friendly products. We offer all of this while providing excellent customer service and friendly support.
                            Whole seller and distributor always keep an eye on the quality of products. That is why we have satisfied customers all over the India.
                            
                            The interests of our customers are always the top priority for us, so we hope you will enjoy our products as much as we enjoy making them available to you.
                        </p>
                    </div>
                    <div class="about-us__team" hidden>
                        <h2 class="about-us__team-title">Meat Our Team</h2>
                        <div class="about-us__team-subtitle text-muted">Want to work in our friendly team?<br><a routerLink="../contact-us">Contact us</a> and we will consider your candidacy.</div>
                        <div class="about-us__teammates teammates">
                            <owl-carousel-o [options]="carouselOptions" appOwlPreventClick>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-1.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">Michael Russo</div>
                                        <div class="teammate__position text-muted">Chief Executive Officer</div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-2.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">Katherine Miller</div>
                                        <div class="teammate__position text-muted">Marketing Officer</div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-3.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">Anthony Harris</div>
                                        <div class="teammate__position text-muted">Finance Director</div>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
